*{

  padding:0;
  margin:0;
}

body{

   font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.contact-form{

  margin-top:20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{

  margin-top:10px;


}
.contact-form__input{

padding:10px;
border:none;
border-bottom: solid rgb(218, 215, 215) 1px;
}
.contact-form__textarea{

  padding:10px;
  border: solid rgb(218, 215, 215) 1px;

}

.contact-form__submit{

  padding : 10px 20px;

  background-color:  rgb(63, 114, 116);
  border:none;
  color:white;
}

@media screen and (max-width : 600px){

  .contact-form {

    width : 100%;
  }
.contact-form__input, .contact-form__textarea{

  width: 100%;
  box-sizing: border-box;
}
}

